<!-- Masthead -->

<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/img/avaluos4.png" class="d-block w-100" alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h1>First slide label</h1>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div> -->
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/lotes.jpg" class="d-block w-100" alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div> -->
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/casas.jpg" class="d-block w-100" alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div> -->
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/departamentos.jpg" class="d-block w-100" alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- <header class="masthead bg-primary text-white text-center">

    <div class="container d-flex align-items-center flex-column"> -->

<!-- Masthead Avatar Image -->
<!-- <img class="masthead-avatar mb-5" src="../../../assets/img/engenierr.png" alt=""> -->

<!-- Masthead Heading -->
<!-- <h1 class="masthead-heading text-uppercase mb-0">AMPLIA EXPERIENCIA</h1> -->

<!-- Icon Divider -->
<!-- <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div> -->

<!-- Masthead Subheading -->
<!-- <p class="masthead-subheading font-weight-light mb-0">Sociedad de Tasaciones.</p>

    </div>
</header> -->


<!-- About Section -->

<section class="page-section bg-secondary text-white mb-0" id="about">
    <div class="container ">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">Acerca de Nosotros</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>


        <!-- About Section Content -->
        <div class="row" style="vertical-align:middle">
            <div class=" col-lg-6 ml-auto">
                <img class=" img-thumbnail rounded mx-auto d-block" src="../../../assets/img/avaluos11.png" alt="300" style="margin-bottom: 80px">

            </div>

            <div class="col-lg-6 mr-auto  " style="margin-bottom: 80px">

                <div class="shadow p-3 mb-5 rounded " style=" background-color: #3e556c;">
                    <h1 style="margin-bottom: 20px">Misión</h1>
                    <p class="lead ">VALTECNIC SRL, empresa de servicios especialista en tasaciones, Peritajes y/o avalúos a todo tipo de inmuebles, Casas, Departamentos, Terrenos, etc, siendo nuestros principales clientes: entidades financieras, públicas y personas particulares
                        de nuestro medio.</p>
                </div>
                <div class="shadow p-3 mb-5 rounded " style=" background-color: #3e556c;">
                    <h1 style="  margin-bottom: 20px ">Visión</h1>
                    <p class="lead">VALTECNIS SRL, ser un referente a nivel departamental y nacional en la tasación de bienes inmuebles, brindando un servicio de calidad y eficiencia a entidades bancarias, instituciones públicas, inmobiliarias y personas particulares.</p>
                </div>
            </div>
        </div>

        <!-- About Section Button -->
        <!-- <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
              <i class="fas fa-mail-bulk mr-2"></i> Contáctanos
          </a>
      </div> -->

    </div>
</section>



<!-- Portfolio Section -->
<section class="page-section portfolio" id="clientes">
    <div class="container">

        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"> Nuestros Clientes</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-handshake"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items -->
        <div class="row">

            <!-- Portfolio Item 1 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-university fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../assets/img/portfolio/union.jpg" alt="">
                </div>
            </div>

            <!-- Portfolio Item 2 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-university fa-3x"> </i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../assets/img/portfolio/mercantil.jpg" alt="">
                </div>
            </div>

            <!-- Portfolio Item 3 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-university fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../assets/img/portfolio/bcp.jpg" alt="">
                </div>
            </div>

            <!-- Portfolio Item 4 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-university fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../assets/img/portfolio/bnb.jpg" alt="">
                </div>
            </div>

            <!-- Portfolio Item 5 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-university fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../assets/img/portfolio/bisa.jpg" alt="">
                </div>
            </div>

            <!-- Portfolio Item 6 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-university fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../assets/img/portfolio/economico.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
</section>

<!-- Servicios Section -->

<section class="page-section bg-secondary text-white mb-0" id="servicios">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">Nuestros Servicios</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>


        <!-- Servicios Section Content -->


        <div class="card-deck">
            <div class="card">
                <img src="../../../assets/img/casas1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title text-secondary" style="margin-top: 20px; margin-bottom: 20px">Inmuebles</h1>

                    <p class="card-text text-secondary lead">Avalúo de Inmuebles.</p>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>

            <div class="card">
                <img src="../../../assets/img/departamentos1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title text-secondary" style="margin-top: 20px; margin-bottom: 20px">Propiedad Horizontal</h1>

                    <p class="card-text text-secondary lead">Avalúo de Propiedad Horizontal.</p>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>

            <div class="card">
                <img src="../../../assets/img/terrenos1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title text-secondary" style="margin-top: 20px; margin-bottom: 20px">Terrenos</h1>

                    <p class="card-text text-secondary lead">Avalúo de Terrenos.</p>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>


        </div>

        <!-- About Section Button -->
        <!-- <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
              <i class="fas fa-mail-bulk mr-2"></i> Contáctanos
          </a>
      </div> -->

    </div>
</section>


<!-- Contact Section -->
<section class="page-section " id="contact">
    <div class="container">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contáctanos</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Contact Section Form -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Nombre</label>
                            <input class="form-control" id="name" type="text" placeholder="Nombre" required="required" data-validation-required-message="Por favor Introduce tu Nombre">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Correo Electrónico</label>
                            <input class="form-control" id="email" type="email" placeholder="Correo Electrónico" required="required" data-validation-required-message="Por favor Introduce tu Correo Electrónico.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Teléfono</label>
                            <input class="form-control" id="phone" type="tel" placeholder="Teléfono" required="required" data-validation-required-message="Por favor Introduce tu Teléfono">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Mensaje</label>
                            <textarea class="form-control" id="message" rows="2" placeholder="Mensaje" required="required" data-validation-required-message="Ingrese su Mensaje"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Enviar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>



<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->

<!-- Login Modal -->
<div class="portfolio-modal modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div (keyup)="enter($event)" class="col-lg-5">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Inicia Sesión</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Formulario Login -->



                            <label class="h2 " for="usuario">USUARIO: </label>
                            <input class="form-control " [(ngModel)]="this.usuario" id="usuario" type="text" placeholder="Intruduce tu Usuario" required="required" data-validation-required-message="Please enter your name.">
                            <br>
                            <label class="h2" for="password">CONTRASEÑA: </label>
                            <input class="form-control" [(ngModel)]="this.password" id="password" type="password" placeholder="Intruduce tu Contraseña" required="required" data-validation-required-message="Please enter your name.">
                            <br>


                            <!-- Portfolio Modal - Text -->

                            <!-- <button (click)="login()" class="btn btn-primary btn-lg" href="#" data-dismiss="modal"> -->
                            <button (click)="login()" class="btn btn-primary btn-lg" href="#" data-dismiss="modal">
                            <i class="fas fa-check-circle fa-fw"></i>
                            INGRESAR
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
