<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <!-- Footer Location -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Dirección</h4>
                <p class="lead mb-0">Av. Blanco Galindo esquina Av.Perú SUPERMALL 1er Piso Of. Nro.11

                    <br>Cochabamba, Bolivia</p>
            </div>

            <!-- Footer Social Icons -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Teléfono</h4>

                <p class="lead mb-5">67507188</p>

                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-dribbble"></i>
                </a>
            </div>

            <!-- Footer About Text -->
            <div class="col-lg-4">
                <!-- <img src="../../../assets/img/valtecnin.png" width="200"> -->

                <h4 class="text-uppercase mb-4">Valtecnic</h4>
                <p class="lead mb-5">Profesionales Expertos en Avalúos y Tasaciones.</p>
            </div>

        </div>
    </div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; <a href="www.facebook.com/chelomrc"> WebResponsiva 2019</a></small>
    </div>
</section>
